<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="game">        
        <!-- CHOOSE A MONSTER TO FIGHT -->
        <keep-alive>                
        <div v-if="gameover" class="chooseMonster">

            <div class="playerAttributes">

                <div class="box">
                    <h1 v-text="player.nome" @click="isEditingName = true" v-show="!isEditingName"></h1>
                    <input class="nameEdit" type="text" v-model="player.nome" v-show="isEditingName" @keydown.enter="isEditingName = false">
                    <img src="https://images.playerslounge.co/online/lisandro7-1523936664" alt="Player Image" width="300px">
                    <ul>
                        <li><span>Pontos Restantes:</span> {{ player.pontos }}</li>
                        <li v-for="(val, i) in player.skills" :key="i">                            
                                <span>{{ i }}</span>
                                    <input 
                                        v-if="i === 'forca'" type="number" v-model="player.skills.forca" :disabled="bloquearPontos">
                                    <input 
                                        v-if="i === 'agilidade'" type="number" v-model="player.skills.agilidade" :disabled="bloquearPontos">
                                    <input 
                                        v-if="i === 'resistencia'" type="number" v-model="player.skills.resistencia" :disabled="bloquearPontos">
                        </li>
                        <li>                            
                                <span>Life:</span>
                                <div class="bar">
                                    <div class="fill" :style="[{width: player.life + '%'}, {background: background(player.life, true)}]"></div>
                                </div>                            
                        </li>
                    </ul>
                                          
                        <fieldset>
                        <legend>Shop Items:</legend>
                            <ul class="items">
                                <li @click="buyItem(item)" class="item" :class="{'death': player.money < item.price}" v-for=" (item, i) in items ">
                                    <span class="qtdItems" v-if="player.items[i] && player.items[i].qtd > 0">{{ player.items[i].qtd }}</span>
                                    <img :src="item.img" :alt="item.nome">
                                    <span>{{ item.nome }} ${{ item.price }}</span>
                                </li>                            
                            </ul>
                        </fieldset> 
                        
                        <div class="money">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtzKx6YjYVzoaqLk_0tkq_bj-ObhOsTvlvUjb80mM6un6rn042"
                                alt="">
                            <span><strong>${{ player.money }}</strong></span>
                        </div>
                </div>                                
            </div>

            <div class="monstersList">
                <h1>Para começar a luta, escolha o seu oponente</h1>
                
                    <div v-if="game.message" class="message">
                        <h1 :class="game.victory ? 'good' : 'danger'" v-html="game.message"></h1>
                    </div>

                    <div @click="beginGame(index)" class="cards" :class="{'death': monstro.life <= 0}" v-for="( monstro, index ) in monsters" :key="index"> 
                        <img :src="monstro.img" :alt="monstro.nome">
                        <h2>{{ monstro.nome }}</h2>
                        <div class="label">
                            <span>Força:</span>
                            <div class="bar">
                                <div class="fill" :style="[{width: monstro.forca * 10 + '%'}, {background: background(monstro.forca)}]"></div>
                            </div>
                        </div>
                        <div class="label">
                            <span>Agilidade:</span>
                            <div class="bar">
                                <div class="fill" :style="[{width: monstro.agilidade * 10 + '%'}, {background: background(monstro.agilidade)}]"></div>
                            </div>
                        </div>
                        <div class="label">
                            <span>Resistência:</span>
                            <div class="bar">
                                <div class="fill" :style="[{width: monstro.resistencia * 10 + '%'}, {background: background(monstro.resistencia)}]"></div>
                            </div>
                        </div>
                        <div class="label">
                            <span>Pontos por vitória:</span>
                            <span>{{ monstro.pontos }}</span>
                        </div>
                        <div class="label">
                            <span>Dinheiro por vitória:</span>
                            <span>${{ monstro.money }}</span>
                        </div>

                    </div> 
                    
                    
                
                

            </div>

        </div>        
        <!-- DEFEAT THE MONSTER -->
        <div v-else>

            <div class="chooseMonster nowFighting">

                <div class="playerAttributes">
                
                    <div class="cards">
                        <h1 v-text="player.nome"></h1>
                        <img src="https://images.playerslounge.co/online/lisandro7-1523936664" alt="Player Image" width="300px">
                        <div class="label">                            
                            <div class="bar">
                                <div class="fill" :style="[{width: player.life + '%'}, {background: background(player.life, true)}]"></div>
                            </div>
                        </div>
                        <div class="actions">
                            <button @click="run">Fugir</button>                            
                            <ul class="items">
                                <li v-if="player.items[i]" class="item" :class="{'death': item.qtd <= 0 }" v-for=" (item, i) in items" @click="useItem(i)">
                                    <img :src="item.img" :alt="item.nome">
                                    <span class="qtdItems">{{ player.items[i].qtd }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                
                </div>

                <span v-text="playerAction"></span>

                <!-- VS -->
                <img src="https://pngimage.net/wp-content/uploads/2018/06/versus-battle-logo-png-5.png" alt="">

                <span v-text="monsterAction"></span>

                <!-- Monstro -->
                <div class="cards">
                    <h1>{{ fightingMonster.nome }}</h1>
                    <img :src="fightingMonster.img" :alt="fightingMonster.nome">        
                    <div class="label">
                        <div class="bar">
                            <div class="fill" :style="[{width: fightingMonster.life + '%'}, {background: background(fightingMonster.life, true)}]"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="winner">
                <h1 v-if="winner">{{ winner }} venceu a partida!</h1>
            </div>

            <div class="buttons" v-if="showButtons">
                <button @click="revanche">Revanche</button>
                <button @click="resetGame">Escolher Oponente</button>
            </div>

        </div>

        </keep-alive>

    </div>



<script src="app.js"></script>
</body>
</html>