:root {
    --normal: #e69900;
    --danger: #b32400;
    --good: #29a329;
}

body {
    margin: 0;
}

.chooseMonster {
    display: flex;
    justify-content: space-around;
}

.box {
    padding: 0 30px;
    box-shadow: 0 10px 15px 0px rgba(0,0,0,0.2);
    position: fixed;
    max-width: 320px;
    text-align: center;
    height: 100vh;
}

.box img {
    width: 200px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;    
}

ul.items li {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow .5s;
    cursor: pointer;
    text-align: center;
    background: #fff;
    font-weight: bold;
    justify-content: space-evenly;
    flex-grow: .1;
}

ul.items li:hover {
    box-shadow: 0 0px 5px 0 rgba(0,0,0,.3);
}

li.death:hover {
    box-shadow: none !important;
    cursor: auto;
}

ul.items li img{
    width: 40px;
    height: 40px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

li:nth-child(even) {
    background: #eee;    
}

li>span:nth-child(1) {
    font-weight: bold;
}

.cards {
    padding: 20px;    
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.3);
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    cursor: pointer;
    transition: box-shadow 0.5s
}

.cards:hover {
    box-shadow: none;
}

.cards img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.monstersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 40%;
    padding: 0 50px;
    background: #eee;
    position: relative;
}

.message {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    top: 0;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 9;
}

.message h1 {
    position: relative;
    top: 20%;
    padding: 10% 0;
}

.monstersList h1 {
    flex-basis: 100%;
}

/* Barra de atributos do inimigo */
.label {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.bar {
    height: 15px;
    border: 1px solid #ccc;
    flex-grow: 1;
    margin-left: 10px;
    border-radius: 100px;
}

.fill {
    width: 20%;
    height: 100%;
    background: var(--normal);
    border-radius: 100px;
    transition: all .5s
}



.nowFighting {
    background: #eee;
    align-items: center;
}

.nowFighting img{
    width: 200px;
    height: 200px;
}

.nowFighting .bar {
    margin-left: 0;
}

input {
    width: 50px;
}

.death {
    opacity: .35;
    box-shadow: none;    
    cursor: auto;
}

.money {
    position: relative;    
    display: flex;
    justify-content: space-between;    
    padding: 10px;
    align-items: center;
    border: 1px solid #eee;
    font-size: 2em;
}

.money img {
    height: 40px;    
    object-fit: contain;    
    width: 40px;
}

.nameEdit {
    width: 100%;
    padding: 2% 0;
    font-size: 2em;
    margin-bottom: 10px;
}

fieldset {
    margin: 2% 0;
    border-color: #eee;
    border-style: solid;
    border-radius: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.good {
    background: var(--good);
}

.danger {
    background: var(--danger);    
}